body {
    margin: 0;
}

.leaflet-container {
    height: 100vh;
    overflow: hidden;
}

.ControlPanel {
    position: fixed;
    z-index: 10000;
    width: 300px;
    height: calc(100vh - 20px);
    right: 0;
    top: 0;

    background-color: #fff;

    color: black;

    border: 2px solid rgba(0, 0, 0, 0.2);

    margin: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.ControlPanelContent {
    margin: 20px;
    flex: 1 0 auto;
}

.RouteItem {
    margin: 5px;
    font-size: 17px;
    line-height: 24px;
}

.RouteItemLine {
    display: flex;
    justify-content: space-between;
}

.RouteItemTime {
    font-size: 12px;
}
